<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187004547496-dkpdru2ujt2rb9c0ramdes03e4if73po.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187004547496-dkpdru2ujt2rb9c0ramdes03e4if73po</string>
	<key>API_KEY</key>
	<string>AIzaSyCqx-yORC3CPeftSs9SrQ6v6INeEJxLHQs</string>
	<key>GCM_SENDER_ID</key>
	<string>187004547496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.stash</string>
	<key>PROJECT_ID</key>
	<string>stash-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>stash-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187004547496:ios:ed7087689e317b5ed36d9d</string>
</dict>
</plist>